!!!
%html
  %head
    %title= @title
    %link{ :rel => "stylesheet", :type => "text/css", :href => "style.css" }
  %body
    %h1 Welcome to Redis on AppFog!

    #mainForm
      %form{ :id => "newNote", :action => "/newNote", :method => "post" }
        %fieldset
          %label{ :for => "newNote" } Leave me a brief note!  
          %br
          %input{ :type => "text", :name => "newNote", :class => "textInput" }
          %br
          %input.button{ :type => "submit", :value => "Submit"}
          %br
    
    #notes-container
      %h3 Notes:
      %ul
        - @notes.each do |note|
          %li.note
            %span #{note}
            %br
            %span.tiny #{@time}
    
    %form{ :id => "deleteNotes", :action => "/deleteNotes", :method => "post" }
      %input{ :type => "submit", :value => "Delete all" }

    #counter
      %h4 Total number of notes: #{@length}
        
  %script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js")
  %script(src="notes.js")