!!!
%html
  %head
    %title= @title
    %link{ :rel => "stylesheet", :type => "text/css", :href => "style.css" }
  %body
    %h1 Welcome to Redis on AppFog!

    #mainForm
      %form{ :id => "newNote", :action => "/insertNote", :method => "post" }
        %fieldset
          %label{ :for => "newNote" } Leave me a brief note!  
          %br
          %input{ :type => "text", :name => "newNote" }
          %br
          %input.button{ :type => "submit", :value => "Submit"}
          %br

    #notes-container
      %h3 Notes:
      %ul
        - @notes.each do |note|
          %li
            #{note}
    
    %form{ :id => "deleteNotes", :action => "/", :method => "post" }
      %input{ :type => "hidden", :name => "_method", :value => "delete" }
      %input{ :type => "submit", :value => "Delete all" }

    #counter
      %h4 Total number of notes: #{@length}
        
  %script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js")
  %script(src="notes.js")