$one: #FF7800;
$two: #FF9A40;
$three: #FFB753;
$four: #A64E00;
$five: #FFEE73;


body {
	background-color: $three;
	font-color: $four;
	font-family: Verdana;
}

ul {
	list-style-type: none;
}

li {
	padding: 10px;
	border: 1px solid black;
	max-width: 200px;
}

#mainForm {
	background-color: $two;
	width: 300px;
}

#right-sidebar {
	float: right;
}

.button {
	background-color: $one;
}

.tiny {
	font-size: 7px
}

.square {
	height: 200px;
	width: 200px;
}

.non-square {
	max-height: 200px;
}

.light {
	background-color: $five;
}